@import url('../colors.css');
@import url('../mainClasses.css');

#vehicleSelector{
    width: 100%;
    height: 100%;
}

#vehicleList{
    margin-top: 10px;
}

#vehicleAffiche{
    width: 100%;
    height: 500px;
}
